<h1>Books#new</h1>
<p>ここにはテーブルで一覧を表示？</p>

<h4>New Book</h4>
<%= form_with model: @book do |f| %>
  <div>Title</div>
  <%= f.text_field :title %>

  <div>Body</div>
  <%= f.text_area :body %>
  <%= f.submit 'create book' %>
<% end %>